// COLORS
$primary-color: #fccc8e;
$secondary-color: #f8f3aa;

$white-color: #0d0d0d;

$dark-grey: #0d0d0d;
$light-grey: #fefdee;

$dark-blue-text: #fefdee; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
